p, div {
  font-family: Lato;
}

h2{
  background-color:darkgreen;
  color:white;
text-align:center }

/*
  Colors:
  https://coolors.co/22223b-4a4e69-eadae4-9a8c98-c9ada7
*/
/*
YANKEES BLUE: #22223B
INDEPENDENCE: #4A4E69
PLATINUM: #EADAE4
SPANISH GRAY: #9A8C98
SILVER PINK: #C9ADA7
*/

.error{
  color: grey;
  
}
.redd{
  color:red;
}